<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo reference="camera">
    <sensor name="camera1" type="camera">
      <update_rate>10.0</update_rate>
      <camera name="camera1">
        <pose>1 0 0 0 0 0</pose>
        <horizontal_fov>1.4</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>BGR8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>8.0</far>
        </clip>
      </camera>

      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <frameName>camera</frameName>
      </plugin>
    
    </sensor>
  </gazebo>
</robot>
