controller_manager:
  ros__parameters:
    update_rate: 50
    use_sim_time: true

    diff_cont:
      type: diff_drive_controller/DiffDriveController

    joint_broad:
      type: joint_state_broadcaster/JointStateBroadcaster


diff_cont:
  ros__parameters:
    publish_rate: 50.0
    base_frame_id: dummy_link
    
    left_wheel_names: ["LF_wheel_joint", "LB_wheel_joint"]
    right_wheel_names: ["RF_wheel_joint", "RB_wheel_joint"]
    odom_frame_id: odom

    wheel_separation: 0.6
    # wheels_per_side: 1  # actually 2, but both are controlled by 1 signal
    wheel_radius: 0.4

    wheel_separation_multiplier: 1.0
    left_wheel_radius_multiplier: 1.0
    right_wheel_radius_multiplier: 1.0

    use_stamped_vel: false

